* {
  font-family: "Courier New";
  /* background-color: wheat; */
}
h1,
h3 {
  color: #b92b27;
}
#login {
  background-color: #fff;
}
#signup {
  background-color: #b92b27;
}
.upvote {
  background-color: green;
  color: aliceblue;
}

/* Descendant Selector */
.post a {
  color: purple;
  background-color: greenyellow;
}

nav ul li a {
  color: hotpink;
}

p + h3 {
  text-decoration: underline;
}

.upvote + button {
  background-color: aqua;
  color: darkblue;
}

div > input {
  background-color: darksalmon;
}

input[type="text"] {
  color: red;
}
input[type="password"] {
  color: aqua;
}

/* Psuedo CLass */
button:hover {
  background-color: black;
  color: white;
}
h3:hover {
  text-decoration: none;
}

button:active {
  background-color: darkmagenta;
}
p:active {
  font-weight: bold;
  color: green;
}

input[type="radio"]:checked + label {
  color: red;
  font-weight: bold;
}

div:nth-of-type(2n) {
  background-color: aquamarine;
}

h1::first-letter {
  color: blueviolet;
}

p::first-line {
  color: brown;
}

p::selection {
  background-color: aqua;
}
